<div class="container flex">
  <mat-card *ngIf="article">
    <div class="">
      <mat-card-header>
        <mat-card-title class="">
          <h1>{{article.title}}</h1>
        </mat-card-title>
        <mat-card-subtitle>
          <div class="grid grid-cols-3 gap-10">
            <div>{{article.author}}</div>
            <div>{{article.date | date:'dd/MM/yyyy'}}</div>
            <div>{{article.theme}}</div>
          </div>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{article.content}}</p>
        <mat-divider [inset]="true" class="m-4"></mat-divider>
        <div>
          <h2>Commentaires</h2>
          <div *ngFor="let comment of comments" class="grid grid-cols-7 gap-4 m-5">
            <div class="flex justify-end">{{comment.username}}</div>
            <div class="flex justify-center content-center comment col-span-5">
              <div>
                {{comment.content}}
              </div>
              <div>
                <mat-divider></mat-divider>
              </div>
            </div>
          </div>
        </div>
<!--        <div>-->
<!--          <h2>Ajouter un commentaire</h2>-->
<!--          <form class="grid grid-cols-2 gap-4 m-5" [formGroup]="commentForm" (ngSubmit)="onSubmit()">-->
<!--            <div class="flex justify-end">{{username}}</div>-->
<!--            <div class="flex justify-center content-center comment col-span-1">-->
<!--              <mat-form-field appearance="fill">-->
<!--                <mat-label>Commentaire</mat-label>-->
<!--                <textarea matInput formControlName="content" placeholder="Commentaire"></textarea>-->
<!--              </mat-form-field>-->
<!--            </div>-->
<!--            <div class="flex justify-center content-center comment col-span-2">-->
<!--              <button mat-raised-button color="primary" type="submit">Envoyer</button>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
      </mat-card-content>
    </div>
  </mat-card>
</div>
