<div class="m3">
  <mat-card>
    <form class="login-form" [formGroup]="form" (ngSubmit)="updateUser(form)">
      <mat-card-title>
        <div>
          <button mat-icon-button (click)="back()">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <h1>Profil utilisateur</h1>
        </div>
      </mat-card-title>
      <div *ngIf="user">
        <mat-form-field>
          <input matInput placeholder="username" formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="email" formControlName="email" required>
        </mat-form-field>
        <div mat-dialog-actions>
          <button mat-raised-button color="primary" (click)="updateUser(user.id)">Update</button>
        </div>
      </div>
    </form>
  </mat-card>

  <div class="">
    <button mat-button (click)="logout()" class="accent-red-600">
      Se déconnecter
    </button>
  </div>

  <div class="items loop">
    <mat-card class="item" *ngFor="let subscription of (subscriptions)">
      <mat-card-header>
        <mat-card-title>{{ subscription.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="description">
        <p>
          {{ subscription.description }}
        </p>
      </mat-card-content>
      <mat-card-actions class="subscribe-button">
        <button mat-raised-button color="primary" (click)=unsubscribeOnTheme(subscription.id)>
          <span class="subscribe">Sauvegarder</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
