#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#mat-icon {
  display: flex;
  align-items: flex-start;
}
#a {
  display: flex;
  align-items: flex-end;
}
